.menu {
  display: flex;
  list-style: none;
  justify-content: center;
}
.menuList:not(:last-child) {
  margin-right: 10px;
}
.mainMenuLink {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgb(64, 226, 137);
  border-radius: 10px;
  color: rgb(111, 177, 240);
  text-decoration: none;
}
.mainMenuLink.active {
  background-color: yellow;
  color: white;
}
